@model TbProject


@section Styles{
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/Admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
}

<div class="page-header">
    <h3 class="page-title"> Projects </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">Projects Form</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <form class="forms-sample" method="post" enctype="multipart/form-data"
                      asp-controller="Projects" asp-action="Save" role="form">

                    <input asp-for="ProjectId" type="hidden" />
                    <input asp-for="CreatedBy" type="hidden" />
                    <input asp-for="CreatedDate" type="hidden" />
                    <input asp-for="CurrentState" type="hidden" />
                    <input asp-for="UpdatedBy" type="hidden" />
                    <input asp-for="UpdatedDate" type="hidden" />
                    <input asp-for="ImageName" type="hidden" />


                    <div class="form-group">
                        <label for="exampleInputUsername1">@ResAdmin.lblCategoryName</label>
                        <select asp-for="CategoryId" type="text" class="btn btn-outline-primary dropdown-toggle" asp-items="@(new SelectList(ViewBag.listCategories,"CategoryId","CategoryName"))">
                            <option>Please select one</option>
                        </select>
                   
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <br />

                    <div class="form-group">
                        <label for="exampleInputUsername1">@ResAdmin.lblProjectName</label>
                        <input asp-for="ProjectName" type="text" class="form-control" placeholder="@ResAdmin.lblProjectName">
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputUsername1">@ResAdmin.lblDescription</label>
                        <input asp-for="Description" type="text" class="form-control" placeholder="@ResAdmin.lblDescription">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group" >
                        <label for="exampleInputUsername1">@ResAdmin.lblLink</label>
                        <input asp-for="Link" type="text" class="form-control" placeholder="@ResAdmin.lblLink">
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>

                    <div class="form-group" style="padding-bottom: 35px;">
                        <label>Imape upload</label>
                        <input asp-for="ImageName" type="file" name="Images" class="file-upload-default" multiple onchange="Upload.UploadDefaultImg(event)" accept=".jpg, .jpeg, .png, ,.gif">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                            <span asp-validation-for="ImageName" class="text-danger"></span>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-gradient-primary me-2">@ResGeneral.lblSubmit</button>
                    <a href="/Admin/Projects/List" class="btn btn-dark">@ResGeneral.lblCancel</a>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default form</h4>
                <p class="card-description"> Basic form layout </p>

                <span id="tbImgName"></span>
                <div id="tbImgSrc">
                    <img src="/Uploads/projects/@Model.ImageName" style="width:96%; height:300px;" />
                </div>


            </div>
        </div>
    </div>

</div>

@*This is JS for rendering photo*@
@section Scripts
    {
    <script>
        var Upload = {
            UploadDefaultImg: function (e) {
                const file = e.target.files[0];
                const reader = new FileReader();
                reader.onloadend = () => {
                    CourseMediaImgName = file.name;
                    CourseMediaImgBase64 = reader.result.slice(reader.result.indexOf('base64,') + 7);
                    $("#tbImgName").html(file.name)
                    $("#tbImgSrc").html(`<img class="thumbnail" src = "${reader.result}"  style = "width: 200px;height: 300px;border-radius: 5px;border: 1px solid #d9d9d9;padding: 1px;" />`)
                };
                reader.readAsDataURL(file);
            }
        }


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <!-- Plugin js for this page -->
    <script src="~/Admin/vendors/select2/select2.min.js"></script>
    <script src="~/Admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page -->
    <script src="~/Admin/js/file-upload.js"></script>
    <script src="~/Admin/js/typeahead.js"></script>
    <script src="~/Admin/js/select2.js"></script>
    <!-- End custom js for this page -->
}






