@model List<TbCategory>


@section Styles{
    <!-- For Sweat Alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.9/dist/sweetalert2.min.css">
}


<div class="content-wrapper" style="padding: 2.75rem 0.25rem;">
    <div class="page-header">
        <h3 class="page-title"> Sortable table </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Categories table</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Categories Section</h4>
                    <p class="card-description">
                        <a href="/Admin/Categories/Edit" class="btn btn-success btn-fw">@ResGeneral.lblNew</a>
                    </p>
                    <div class="row">
                        <div class="table-sorter-wrapper col-lg-12 table-responsive">

                            <table id="order-listing" class="table dataTable no-footer" aria-describedby="order-listing_info">
                                <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order #: activate to sort column descending" style="width: 69.275px;">@ResAdmin.lblCategoryName</th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order #: activate to sort column descending" style="width: 69.275px;">@ResGeneral.lblActions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var cat in Model)
                                    {
                                        <tr class="odd">
                                            <td class="sorting_1">@cat.CategoryName</td>

                                            <td class="col-md-4" style="margin:0px;padding:0px;">
                                                <a style="height:max-content"
                                               asp-controller="Categories" asp-action="Edit" asp-route-Id="@cat.CategoryId"
                                               class="btn btn-info btn-fw">Edit</a>


                                                <button class="btn btn-danger btn-fw category" data-categoryid="@cat.CategoryId">Delete</button>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

    <!-- For Sweat Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.9/dist/sweetalert2.min.js"></script>
    <!-- For Sweat Alert Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- For Sweat Alert Include JS -->
    <script>
        $(document).ready(function () {
            // Handle delete button click
            $(".category").on("click", function () {
                var id = $(this).data("categoryid");

                Swal.fire({
                    title: '<span style="color: black;">Confirm Delete</span>',
                    text: 'Are you sure you want to delete this one?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // User confirmed the delete, send the user ID to the "Delete" action
                        window.location.href = "/Admin/Categories/Delete?id=" + id;
                    }
                });
            });
        });

    </script>



    <!-- Plugin js for this page -->
    <script src="~/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>

    <!-- Custom js for this page -->
    <script src="~/Admin/js/data-table.js"></script>
    <!-- End custom js for this page -->

}

@* // For toast alert. *@
@await Component.InvokeAsync("NToastNotify")